<footer class="wrap clearfix">
    <div class="footer-inner clearfix">
        <div class="subpage clearfix">
           <div  class="left" style="display: flex">
            
            <div itemscope itemtype="http://schema.org/Dentist">
                <h5 style="display: none;" style="font-weight: bold"><span itemprop="name">Precision Oral Surgery</span></h5>
                
                <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                    <span itemprop="streetAddress" class="lb">1831 65th Ave Suite 3</span>
                    <span itemprop="addressLocality">Greeley</span>,
                    <span itemprop="addressRegion">CO</span>
                    <span addressZipcode="postalCode" itemprop="postalCode">80634</span>
                </div>
                Phone: <span itemprop="telephone"><a href="tel:+1-970-353-5826">970-353-5826</a></span>
            </div>
            </div>

            <div class="right">
                <a href="https://www.facebook.com/PrecisionOralSurgeryCO/" target="_blank" rel="noopener nofollow"><img src="/assets/images/icons/find-us-on-facebook.svg" alt="find us on Facebook"></a>
            </div>
        </div>
    </div>
</footer>