---
search_engine_optimization:
  page_title: 
  page_description:
  share_image_path:
layout: page
---
<section class="blog-preface">{{ content }}</section>
<section class="blog-wrapper">
  {% assign page_id = page.id | remove:'/blog/category/' %}
  {% for post in site.posts %}
    {% if post.category contains page_id %}
      <div class="blog-item clearfix">
        <div class="left-image">
          {% if post.image_path %}
            <a href="{{ post.url }}"><img src="{{ post.image_path }}" alt="{{ post.title }}"></a>
          {% endif %}
        </div>
        <div class="right-blog">
          <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
          <p>posted {{ post.date | date: "%a, %b %d, %Y" }}</p>
          {% for cat in post.categories %}
            <p class="category-label">Category: <a href="{{ cat | prepend: '/blog/category/' | append: '/' }}">{{ cat | replace: '-', ' ' | capitalize }}</a></p>
          {% endfor %}
          
          {% if post.description %}
            <p>{{ post.description }}</p>
          {% endif %}
        </div>
      </div>
    {% endif %}
  {% endfor %}
</section>
