--- 
layout: default 
---
<div class="subpage-header" style="background-image:url({%if page.header_image%}{{page.header_image}}{% else %}/assets/images/headers/subpage-header.jpg{% endif %})"></div>
<main>
  <div class="subpage">
    <div class="content">
      {{ content }}
    </div>
    <div class="content">
        {% if page.permalink == "/contact/" %} 
        {% include contact-form.html %} 
        {% elsif page.permalink == "/search/" %}
        {% include google-search.html %} 
        {% endif %} 
    </div>
  </div>
</main>